.form-floating {
  margin: 12px 0;
  border-color: var(--color-disabled);
  box-shadow: none;
}

.form-control:focus[data-status="valid"] {
  border-color: var(--color-success);
}

.form-control:focus[data-status="invalid"] {
  border-color: var(--color-danger);
}
