.form-floating {
  margin: 12px 0;
  box-shadow: none;
}

.form-control[data-status="valid"] {
  border: 1.5px solid var(--color-success);
  box-shadow: 0 0 0 0.12rem rgba(76, 175, 80, 0.5);
}

.form-control[data-status="invalid"] {
  border: 1.5px solid var(--color-danger);
  box-shadow: 0 0 0 0.12rem rgba(239, 83, 80, 0.5);
}
