.form-owner-create-wrap .form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-owner-create-wrap .form-wrap form {
  display: flex;
  flex-direction: column;
  
  width: 500px;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 8px;
}

.form-owner-create-wrap .form-wrap .input-group {
  display: flex;
  justify-content: space-between;
}

.form-owner-create-wrap .form-wrap .input-group > :nth-child(2) {
  width: 50%;
}

.form-owner-create-wrap .form-wrap .status-wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 922px) {
  .form-owner-create-wrap .form-wrap .input-group {
    flex-direction: column;
  }

  .form-owner-create-wrap .form-wrap .input-group > :nth-child(2) {
    width: 100%;
  }
}
