.patrimony-list-wrap .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patrimony-list-wrap .error > span {
  color: var(--color-danger);
  font-size: 25px;
  font-family: 'Poppins';
  text-align: center;
}

.patrimony-list-wrap .error > :last-child {
  max-width: 250px;
}
