.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group > :nth-child(2) {
  width: 50%;
}

@media (max-width: 922px) {
  .patrimony-create-wrap .form-wrap .input-group {
    flex-direction: column;
  }

  .patrimony-create-wrap .form-wrap .input-group > :nth-child(2) {
    width: 100%;
  }
}
