.login-wrap {
  height: 100vh;
  display: flex;
}

.login-wrap form {
  width: 60%;
}

.login-wrap form h2 {
  font-family: 'Poppins';
  font-weight: 400;
}

.login-wrap .action-wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.login-wrap .action-wrap .link {
  font-size: 18px;
  color: var(--color-black);
  font-family: 'Poppins';
}

@media (max-width: 992px) {
  .login-wrap {
    flex-direction: column;
  }
}
