.dashboard-wrap > :first-child {
  position: absolute;
  max-height: calc(100% - 100px);
  top: auto !important;
  background-color: var(--color-black);
  width: 225px;
}

.dashboard-wrap .home-logo {
  text-decoration: none;
}

.dashboard-wrap .home-logo span {
  font-weight: bold;
}

@media (max-width: 992px) {
  .dashboard-wrap > :first-child {
    position: absolute;
    top: auto !important;
    width: 150px;
  }
}
