:root {
  --color-primary: #00ADB5;
  --color-white: #fff;
  --color-background: #eee;
  --color-dark-light: #222831;
  --color-danger: #ef5350;
  --color-disabled-background: #CCC;
  --color-disabled: #666;
  --color-success: #4caf50;
}
