:root {
  --color-primary: #3F51B5;
  --color-white: #fff;
  --color-background: #eee;
  --color-black: #222831;
  --color-danger: #F41564;
  --color-disabled-background: #CCC;
  --color-disabled: #666;
  --color-success: #4caf50;
}

body {
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
}
