.signup-wrap {
  height: 100vh;
  display: flex;
}

.signup-wrap form {
  width: 60%;
}

.signup-wrap .action-wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.signup-wrap .action-wrap .link {
  font-size: 16px;
  color: var(--color-black);
  font-family: 'Poppins';
}

@media (max-width: 992px) {
  .signup-wrap {
    flex-direction: column;
  }
}
