.header-wrap {
  height: 100px;
  background-color: var(--color-black);
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding: 0 40px;
  color: var(--color-white);
}

.header-wrap h2 {
  font-family: 'Poppins';
  font-weight: 200;
}
